<main>
  <div class="content">
	  <div class="new">
      <div class="new_text">
        <input [(ngModel)]="name" type="text" placeholder='New task list?'>  			
      </div>
  	  <div class="go">
  		  <button (click)='createTaskList()'>Create</button>		
  	  </div>
  	</div>

    <div class="old">
      <div class="task_list" *ngFor='let taskList of taskLists'>
        <div class="text" (click)='getTasks(taskList)'d>
          <p>{{taskList.name}}</p>
        </div>
        
        <div class="edit">  
          E
        </div>

        <div class="delete" (click)='deleteTaskList(taskList)'>
          D
        </div>
      </div>
    </div>
  </div>
</main>