<main>
  <div class="back" (click)='saveAndGoHome()'>
    &lt;
  </div>

  <div class="content">
    <!-- <div class="back" (click)='goHome()'>
      &lt;
    </div> -->
    <div class="options">
      <div class="name">
        <input [(ngModel)]="name" type="text" value="{{taskList.name}}" placeholder="Task list">
      </div>
      <div class="change">
        <button (click)='updateTaskList()'>Change</button>    
      </div>
    </div>
    
    <div class="tasks">
      <div class="task" *ngFor='let task of tasks'>
        <div class="text" [ngStyle]="{'text-decoration': task.status == 'Done' ? 'line-through' : 'none'}" (click)="switchTask(task)">
          <p>{{task.name}}</p>
        </div>
        
        <div class="edit">
          E
        </div>

        <div class="delete">
          D
        </div>
      </div>
    </div>
  </div>

  <div class="create">
    <p>CREATE</p>
  </div>
</main>